@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;


.download__card{
    @include m.flex(column,center,center);
    padding-block : v.$spacing-400;
    gap           : v.$spacing-300;
    border-radius : v.$border-radius-lg;
    box-shadow    : 0 10px 20px rgba(0,0,0,0.08);
    @media(min-width:48rem){

        padding-block: v.$spacing-300;
    }
}
.download__card-content{
    @include m.flex(column,center,center);
    gap   : v.$spacing-400;
}

.download__card-title h3{ 
    padding-block-end : v.$spacing-100;

}

.download__card:nth-child(2){

    @media(min-width:64rem){
       margin-block-start : v.$spacing-500;
    }
}

.download__card:nth-child(3){
    @media(min-width:64rem){

       margin-block-start: v.$spacing-1000;
    }
}


